	
	<!-- Context layout -->


	<header id="pageHeader">
        <div class="row">
            <div class="cell div-1-1">
                <div class="inner">
                    <a id="logo" href="/" title="TechPush"><img src="/public/img/techpush-logo-small.png"></a>
                    <span class="slogan">{{application.slogan}}</span>
                    <div class="right-bar">
                        <span class="rss">
							<a href="/feed?output=rss" target="_blank">RSS</a> 
							<span class="separate">|</span> 
							<a href="/feed?output=atom" target="_blank">ATOM</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div id="container">
        <div id="page">
            <div id="pushDown"></div>
            <div id="feedList">
				
				{{#each feed.entries}}
				<div class="feed-entry" itemscope itemtype="http://schema.org/Article">
					<div class="feed-entry-inner">
						<div class="feed-entry-header">
							<a href="{{link}}" itemprop="url" id="_{{id}}" class="title feed-link">{{{title}}}</a>
							<div class="feed-entry-header-shadow"></div>
						</div>
						
						<div class="feed-entry-footer">
							<div class="footer-inner"> 
								<span class="entry-source">@<a href="{{url}}" rel="nofollow" title="Read on {{source}}" target="_blank" itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><span itemprop="name">{{{source}}}</span></a></span> 
								<span class="entry-date" time="{{time}}">{{date}}</span>
							</div>
						</div>
						<div class="feed-entry-background" {{#if image}}style="background-image:url({{image}});"{{/if}}></div>
					</div>
				</div>
				{{/each}}
				
            </div>
            <div id="pullUp"></div>
        </div>
        <div id="loading_box"><div class="q-box"></div></div>
    </div>
	
	<canvas id="starfield"></canvas>
	
    <footer id="pageFooter">
        <div class="copyright"><a rel="nofollow" href="https://plus.google.com/113270353763049199537" title="Follow me on Google+" target="_plus_me" rel="publisher">+ndaidong</a></div>
        <div  id="footerToolbar">
			{{{feed.paging}}}
        </div>
    </footer>
    
	<!-- Context layout -->
